<header id="header">
    <div class="menu">
        <div class="logo"><a href="#hero"> EN</a></div>

    <div class="links">
        <a href="#whyMe">{{'header.whyMe' | translate }}</a>
        <a href="#skills">{{'header.skills' | translate }}</a>
        <a href="#projects">{{'header.projects' | translate }}</a>
        <a href="#contact">{{'header.contact' | translate }}</a>
    </div>
    </div>

    <div class="language">
        <a href="#" (click)="changeLanguage('de')">DE</a>
        <span>|</span>
        <a href="#" (click)="changeLanguage('en')">EN</a>
    </div>

    <div class="menu-icon burger-menu-btn" (click)= "isOpen.isOpen= true">
        <img src="./assets/icons/header/menu.png" alt="">
    </div>
</header>

@if (isOpen) {
<app-mobile-header class="d-none" (isOpen)="isOpen.isOpen= $event"></app-mobile-header>
}