<header>
    <div class="menu">
        <div class="logo"> EN</div>

    <div class="links">
        <a href="#">Why me</a>
        <a href="#">Skills</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </div>
    </div>

    <div class="language">
        <a href="#">DE</a>
        <span>|</span>
        <a href="#">EN</a>
    </div>

    <div class="menu-icon">
        <img src="../../assets/icons/header/menu.png" alt="">
    </div>
</header>

<app-mobile-header class="d-none"></app-mobile-header>