<div class="flex footer">
    <div class="icon">
        <p>&lt;EN&gt;</p>
        <p>Frontend developer</p>
    </div>

    <div class="middle">
        <p>	&copy; Ejran Nahimzadah  2025</p>
        <p>Legal notice privacy policy</p>
    </div>

    <div class="conntect">
            <img src="./assets/footer/github.png" alt="github" class="github">
            <img src="./assets/footer/githubHover.png" alt="github hover" class="githubHover d-none">
        
            <img src="./assets/footer/button.png" alt="email" class="mail">
            <img src="./assets/footer/mailHover.png" alt="email hover" class="d-none mailHover">
        
            <img src="./assets/footer/Linkedin.png" alt="linkedin" class="linkdin">
            <img src="./assets/footer/linkedinHover.png" alt="linkedin hover" class="d-none linkedinHover">
        
    </div>
</div>
