.footer{
    justify-content: space-between;
    max-width: 1440px;
    padding: 50px 50px;
    font-family: 'robotoMono', sans-serif;

    @media(max-width: 768px){
        flex-direction: column-reverse;
        align-items: center;
        padding: unset;
    }
}

p{
    color: #E15544;
}


a{
    color: #E15544;
}

.icon{
    font-family: 'robotoMono';

    :first-child{
        font-size: 54px;
    }

    :last-child{
        font-size: 12px;
    }

    @media(max-width: 768px){
        order: 2;
        margin-top: 54px;
    }

}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;

    :first-child{
        font-size: 23px;
        font-weight: 400;
    }

    a{
        font-size: 14px !important;
        cursor: pointer;
        margin-left: 24px;
    }

    @media(max-width: 768px){
        order: 1;
        margin-top: 60px;
    }
}

.conntect{
    margin-top: 55px;
    img{
        margin-right: 12px;
    }

    @media(max-width: 768px){
        order: 3;
    }
}

.github{
    width: 50px;
    gap: 12px;
    transition: 0.3s;
  }

.github:hover{
  fill: aqua;

}