<div class="contact-me-section">
    <div class="contact-me-section_infos">
        <div class="text-container">
            <div class="flex contactMe " style="align-items: center;">
        <h2> Contact Me</h2>
        <img src="../../assets/icons/contactMe/Arrow.png" alt="" class="arrowDown">
            </div>
        <p class="infoText">If you have any questions or would like to get in touch, please fill out the form below.

        </p>
       </div>

       <div class="contact-me-adress">
       <div class="flex-box">
            <img src="./assets/icons/contactMe/email.png" alt="">
            <p>Email: ejran1web.de</p>
       </div>

       <div class="flex-box">
            <img src="./assets/icons/contactMe/phone.png" alt="">
            <p> Tel:0176 4348355</p>
       </div>
       </div>

       <img src="../../assets/icons/contactMe/arrowTop.png" alt="" class="arrowTop">
    </div>
<!-- 
    <img src="../../assets/icons/contactMe/arrowTop.png" alt=""> -->

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="flex contactForm">
        <div>
        <div class="data">
            <input [(ngModel)]="contactData.name" type="text" id="name" placeholder="Your Name" [(ngModel)]="contactData.name" name="name" required>
        </div>

        <div class="data">
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email"  placeholder="Your Email" [(ngModel)]="contactData.email" name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched) {
                <span style="color: red;">Please enter a message!</span>
            }
        </div>
    </div>

        <div class="message">
            <textarea  #message="ngModel" [(ngModel)]="contactData.message" minlength="4" id="message"  placeholder="Your Message" [(ngModel)]="contactData.message" name="message" required ></textarea>
            @if (!message.valid && message.touched) {
                <span style="color: red;">Please enter a message!</span>
            }
        </div>
     </div>

    <div class="consent">
        <div class="flex-box privacy-policy">
            <img src="../../assets/icons/contactMe/boxHover.png" alt="boxHover" class="d-none">
            <img src="../../assets/icons/contactMe/box.png" alt="box">
           <p>Ive read the privacy-policy and agree to the processing of my data as outlined</p>
        </div>

        <div class="submit">
            <input type="submit" value="Send">
        </div>
    </div>

    </form>

    <div class="contact-me-adress-mobile d-none">
        <div class="flex-box">
             <img src="./assets/icons/contactMe/email.png" alt="">
             <p>ejran1web.de</p>
        </div>
 
        <div class="flex-box">
             <img src="./assets/icons/contactMe/phone.png" alt="">
             <p>0176 4348355</p>
        </div>
        </div>


</div>
