<div class="contact-me-section" id="contact">
    <div class="contact-me-section_infos">
        <div class="text-container">
            <div class="flex contactMe " style="align-items: center;">
        <h2> {{ 'contact.heading' | translate }}</h2>
        <img src="./assets/icons/contactMe/Arrow.png" alt="" class="arrowDown">
            </div>
        <p class="infoText">{{ 'contact.description' | translate }}
        </p>
       </div>

       <div class="contact-me-adress">
       <div class="flex-box">
            <img src="./assets/icons/contactMe/email.png" alt="">
            <a  href="mailto:ejran1web.de">Email: ejran1web.de</a>
       </div>

       <div class="flex-box">
            <img src="./assets/icons/contactMe/phone.png" alt="">
            <a href="tel:01764348355"> Tel:0176 4348355</a>
       </div>
       </div>

      <a  href="#header"><img src="./assets/icons/contactMe/arrowTop.png" alt="" class="arrowTop"></a> 
    </div>

    <!-- <img src="../../assets/icons/contactMe/arrowTop.png" alt=""> -->

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" data-aos="fade-up"
    data-aos-anchor-placement="top-bottom">
  
    <div class="flex contactForm">
      <div class="flex-space">
        <div class="data flex column">
          <input
          #nameInput="ngModel" 
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          required
          placeholder="{{ 'contact.placeholderName' | translate }}"
          (blur)="nameTouched = true"
        />
        @if (!nameInput.valid && (nameTouched || nameInput.touched)) {
          <span style="color: red;">Please enter your name!</span>
        }
        </div>
  
        <div class="data flex column">
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            (blur)="emailTouched = true"
            [placeholder]="
              !email.valid && emailTouched
                ? 'Please enter a valid email!'
                : ('contact.placeholderEmail' | translate)
            "
          />
          @if (!email.valid && email.touched) {
            <span style="color: red;">Please enter a valid email!</span>
          }
        </div>
      </div>
  
      <div class="message flex column">
        <textarea
          #message="ngModel"
          [(ngModel)]="contactData.message"
          name="message"
          id="message"
          required
          minlength="4"
          placeholder="{{ 'contact.placeholderMessage' | translate }}"
        ></textarea>
  
        @if (!message.valid && message.touched) {
          <span style="color: red;">Please enter a message!</span>
        }
      </div>
    </div>
  
    <div class="consent">
      <div class="flex-box privacy-policy">
        <div class="checkbox-container">
          <input
            type="checkbox"
            id="myCheckbox"
            name="privacyPolicy"
            [(ngModel)]="privacyPolicy"
            required
          />
          <label for="myCheckbox" class="custom-checkbox">✓</label>
        </div>
  
        <p>
          {{ 'contact.privacy-policy-pretext' | translate }}
          <span style="color: #E15544;">{{ 'contact.privacy-policy' | translate }}</span>
          {{ 'contact.privacy-policy-posttext' | translate }}
        </p>
      </div>
  
      <div class="submit" [ngClass]="{'submitClick': contactForm.valid && privacyPolicy}">
        <input
          type="submit"
          [disabled]="!contactForm.valid || !privacyPolicy"
          value="{{ 'contact.button' | translate }}"
        />
      </div>
    </div>

    <div *ngIf="emailSubmitted" class="notification" data-aos="fade-in">
      <p>{{ 'contact.successMessage' | translate }}</p>
    </div>
  </form>
  

    <div class="contact-me-adress-mobile d-none">
        <div class="flex-box" href="mailto:ejran1web.de">
             <img src="./assets/icons/contactMe/email.png" alt="">
             <a href="mailto:ejran1web.de">ejran1web.de</a>
        </div>
 
        <div class="flex-box">
             <img src="./assets/icons/contactMe/phone.png" alt="">
             <a href="tel:01764348355">0176 4348355</a>
        </div>
        </div>

   

        
</div>
