<div class="hero-section">

    <img class="picture" src="./assets/icons/hero/mainEdit.png" alt="">

    <div class="hero-section__content">

    <div>
        <div class="contact_me">
           <p>{{'header.contact' | translate }}</p>

           <img src="./assets/icons/hero/Arrow down.png" alt="">
           <img src="./assets/icons/hero/ArrowHover.png" alt="">
 
        </div>
        <h4>FRONTEND DEVELOPER</h4>
        <h3>EJRAN NAHIMZADAH</h3>
    </div>

   <!-- <div class="hero-section__content__img">

   </div> -->
</div>
</div>
