@import '../../assets/fonts/font.scss';

.hero-section{
    display: flex ;
    background-color: #120b35; 
    justify-content: center;
    flex-direction: row-reverse;
    font-family: 'robotoMono',sans-serif;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-top: -30px;

    @media (max-width: 992px){
        flex-direction: column;
        align-items: center;
        
}
}

.hero-section__content{
    display: flex;
    justify-content: center;
    align-items: end;
    color: #02f4bf;
    margin: 16px;

    h4{
        font-size: 42px;
        font-weight: 500;
        cursor: pointer;

    @media (min-width: 1200px) and (max-width: 1400px){
            font-size: 42px;
    }

    // @media (min-width: 1200px){
    //     font-size: 28px;
    // }

    @media (max-width: 992px){
        font-size: 22px;
    }

    @media (max-width: 450px){
        font-size: 18px;
    }
    }

    h3:last-child{
        font-size: 82px;
        font-weight: 700;
        white-space: nowrap;
        cursor: pointer;

        
        @media ((min-width: 1200px) and (max-width: 1400px)){
        font-size: 60px;
       }

       @media (max-width: 992px){
        font-size: 40px;
        } 
 
        @media (max-width: 450px){
            font-size: 30px !important;
        }

        @media (max-width: 1200px){
            font-size: 40px;
        }

    }
}

// .hero-section__content__img{
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//         width: 400px;
//         height: 500px;
//         margin-left: 84px;
//     }
// }

.picture{
    width: 550px;

    @media (max-width: 450px){
        width: 280px !important;
}

    @media (max-width: 560px){
        width: unset;
}
}

.contact_me{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 100px;
    transition: all 0.3s ease-in-out;

    a:first-child{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #E15544;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #02f4bf;
    padding: 20px 12px;
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
            color: #02f4bf;
            }
    }

    img {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #02f4bf;
    opacity: 1;

    &:last-of-type { 
        display: none; // Zweites Bild unsichtbar
        }

        &:hover {
            :last-of-type {
                display: block;
                color: #02f4bf;
               }
            :first-of-type {
                display: none;      
               }
        }
    }

.arrow{
    padding: 8px 6px;
    &:hover{
    border: 1px solid aqua!important;


    path{
        fill: aqua !important;
    }
    }

}


    @media (max-width: 992px){
        display: none;
}
}


.intro-text {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-top: 80px;
  
    h4, h3 {
      margin: 0;
      line-height: 1.4;
    }
  
    // ::ng-deep .typed-cursor {
    //   font-weight: bold;
    //   color: red;
    //   animation: blink 0.7s infinite;
    // }
  
    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }
  }
  