app-hero-section{
   max-width: 992px;
   @media (max-width: 992px){
      height: 100vh;
}
}

.app-header{
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
   max-width: 1442px;
   width: 100%;
}
