<div class="center">

<a href="/" style="color:#E15544; text-decoration: none; margin-bottom: 20px;cursor: pointer;" class="back">&#8592;</a>
<div class="container flex column">
    <h1>Impressum</h1>
    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>
        Ejran Nahimzadah<br>
        Eschenweg 8<br>
        41352 Korschenbroich<br>
    </p>
    <p><strong>Kontakt:</strong></p>
    <p>
        Telefon: +49 176 43483575<br>
        E-Mail: kontaktnahimzadah.de<br>
    </p>
    <!-- <p><strong>Umsatzsteuer-ID:</strong></p>
    <p>
        Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE123456789
    </p>
    <p><strong>Haftungsausschluss:</strong></p>
    <p>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p> -->
</div>

</div>

