<div class="center">

<!-- <a href="/" style="color:#E15544; text-decoration: none; margin-bottom: 20px;cursor: pointer;" class="back">&#8592;</a> -->
<div class="container flex column">
    <h1>{{ 'impressum.impressum' | translate}}</h1>
    <p><strong>{{ 'impressum.description' | translate}}</strong></p>
    <p>
        Ejran Nahimzadah<br>
        Eschenweg 8<br>
        41352 Korschenbroich<br>
    </p>
    <p><strong>{{ 'impressum.contact' | translate}}</strong></p>
    <p>
        {{ 'impressum.phone' | translate}}: +49 176 43483575<br>
        {{ 'impressum.email' | translate}}: kontaktnahimzadah.de<br>
    </p>
    <!-- <p><strong>Umsatzsteuer-ID:</strong></p>
    <p>
        Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE123456789
    </p>
    <p><strong>Haftungsausschluss:</strong></p>
    <p>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p> -->
</div>

</div>

