<div class="mySkills" id="skills">
    <h2>{{ 'mySkills.mySkills' | translate}}</h2>

    <div class="mySkills__iconContainer">
        <div class="flex wrap">
            @for (item of img; track $index;) {
            <div class="flex-box icons">
                <img src=" {{item}}" alt="">
                <p> {{p[$index]}}</p>
            </div>
             }
        </div>

    </div>

     <p class="d-none mobileText">{{ 'mySkills.text' | translate}}</p>

    <div class="d-none flex-box button btn_mySkills">
        <button>{{ 'whyMe.button' | translate}}</button>
    </div>
</div>
