<div class="mobile-header">
    <div  class="close" (click)= "close()"><img src="../../../assets/icons/header/close.png" alt="close"></div>

    <div>
        <div class="links-mobile">
            <a href="#">{{'header.whyMe' | translate }}</a>
            <a href="#">{{'header.skills' | translate }}</a>
            <a href="#">{{'header.projects' | translate }}</a>
            <a href="#">{{'header.contact' | translate }}</a>
            <div>
                <a href="#">DE</a>
                <span>|</span>
                <a href="#">EN</a>
            </div>

        </div>
    </div>
</div>
