<div class="mobile-header">
    <div  class="close" (click)= "isOpen = false"><img src="../../../assets/icons/header/close.png" alt="close"></div>

    <div>
        <div class="links-mobile">
            <a href="#">Why me</a>
            <a href="#">Skills</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
            <div>
                <a href="#">DE</a>
                <span>|</span>
                <a href="#">EN</a>
            </div>

        </div>
    </div>
</div>
