.mobile-header{
    width: 100%;
    height: 838px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: linear-gradient(181deg, #13074E 0%, #1D0A79F2 95%);
}

.links-mobile{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    align-items: anchor-center;
    font-weight: 500;
    gap: 90px;
    color: #e15544;
    // margin-top: 100px;
}

.close{
    display: flex;
    justify-content: end;
    padding: 24px 24px;

    img{
        width: 40px;
        cursor: pointer;
    }
}

a{
    color: #e15544;
    font-family: 'robotoMono';
    margin: 0 12px;

    &:hover{
        color: #02f4bf;
    }
}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Start außerhalb des Bildschirms */
      opacity: 0; /* Unsichtbar */
    }
    to {
      transform: translateX(0); /* Endposition */
      opacity: 1; /* Sichtbar */
    }
  }
  
  @keyframes slideOutToRight {
    from {
      transform: translateX(0); /* Startposition */
      opacity: 1; /* Sichtbar */
    }
    to {
      transform: translateX(100%); /* Außerhalb des Bildschirms */
      opacity: 0; /* Unsichtbar */
    }
  }
  
  .mobile-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    animation: slideInFromRight 0.5s ease-out; /* Animation für das Erscheinen */
    z-index: 1000;
  
    &.closing {
      animation: slideOutToRight 0.5s ease-out; /* Animation für das Schließen */
    }
  }