@font-face {
    font-family: 'Roboto Mono';
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  }

*{
    margin: 0;
    // background-color: #120B35;
    // max-width: 1440px;
}

html{
    scroll-behavior: smooth;
    // overflow: hidden
}

a{
    text-decoration: none !important;
}

h2{
    color: #E15544;
}

.d-none{
    display: none !important;
}

.flex{
    display: flex;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120b35; 
    overflow-x: hidden;
    scrollbar-gutter: stable;
    // border: 2px dashed red;
}

.padding{
    padding: 15px;
}

.d{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
    gap: 110px;

    @media (max-width: 992px) {
        gap: unset !important;
        justify-content: center;
        align-items: baseline;
    }
}

.button {
    justify-content: flex-end;

    button {
        width: 170px;
        height: 52px;
        background-color: aqua;
        color: #0b042d;
        font-family: 'robotoMono', sans-serif;
        font-size: 18px;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }

    @media (max-width: 992px) {
        justify-content: center;
        margin-right: unset;

        .button {
            width: 130px;
            height: 40px;
            font-size: 16px;
        }
        }

        :hover {
        color: #E15544;
        transition: all 0.2s ease-in-out;
        transform: scale(1.01);
        }
}

.flex-space{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.margin{
    margin: 8px;
}
