*{
    margin: 0;
    // background-color: #120B35;
    // max-width: 1440px;
}

a{
    text-decoration: none;
}

h2{
    color: #E15544;
}

.d-none{
    display: none;
}

.flex{
    display: flex;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #120b35; 
}