@font-face {
    font-family: 'robotoMono';
    src: url('../../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

.why-me-section {
    padding: 50px 50px;
    display: flex;
    background-color: #120b35;
    align-items: center;
    justify-content: center;
    font-family: 'robotoMono', sans-serif;
    // width: 100%;
    max-width: 1300px;
    overflow: hidden;

    @media (max-width: 992px) {
        // padding: 50px 90px;
    }

    @media (max-width: 450px) {
        padding: 0px 15px;
    }
}

p {
    color: #02f4bf;
    margin-top: 14px;

    @media (max-width: 1200px) {
        font-size: 12px;
    }

    @media (max-width: 992px) {
        margin-top: revert;
        font-size: unset;
    }
}

.picture {
    width: 500px;

    @media (max-width: 992px) {
        display: none;
    }
}

.whyMe {
    padding-left: inherit;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: end;
    }

    @media (max-width: 992px) {
        padding-left: unset;

        h2 {
            justify-content: center;
        }
    }
}

.whyMeSubcategory {
    justify-content: center;
    margin: 10px 0 10px 0px;
    position: relative;
    height: 200px;
    width: 100%;

    img :nth-child(2)  {
        width: 25px;
        height: 40px;
        
    }

    h2 {
        font-size: 48px;
        font-weight: 500;
        position: absolute;
        left: 1%;
    }

    @media (max-width: 1300px) {
        h2 {
            left: 0;
            font-size: 35px;
        }
    }

    @media (max-width: 1100px) {
        h2 {
            font-size: 24px;
        }
    }

    @media (max-width: 992px) {
        display: flex;
        justify-content: center;
        height: unset;
        margin: 50px 0;

        h2{
            left: unset;
            font-size: 28px;
        }
    }
}

.bag {
    position: absolute;
    left: 200px;
    top: 60px;
    transition: transform 0.3s ease;

    img {
        height: 42px;
        margin-top: 8px;
    }

    @media (max-width: 1200px) {
        left: 130px;
        img {
            width: 26px;
            height: 32px;
        }
    }

    @media (max-width: 992px) {
        all: unset;
        display: flex;
        align-items: center
    }
}

.bag:hover img:first-child {
    display: none;
}
.bag:hover img:nth-child(2) {
    display: block;
}

.bagDiv{
    // justify-content: unset;
}

.location {
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        img:last-child{
            width: 19px;
            height: 9px;

            :hover{
             display: block;
        }
        }
    }

    :hover{
            img:last-child{
                display: block;
            }

            .locationHover{
                display: block;
            }
            
    }
    @media (max-width: 1200px) {

        img {
            width: 26px;
            height: 32px;
        }
    }

    @media (max-width: 992px) {
        all: unset;
        align-items: center;
        display: flex;
    }

    @media (max-width: 450px) {
      font-size: 12px;
    }
}

.locationHover{
    display: none;
    transition: transform 0.3s ease;

    :hover{
        transition: transform 0.9s ease;
        display: block;
    }
}

.locationSvg{
    @media(max-width: 1200px) {
        width: 26px;
    }
}

.bagSvg:hover svg {
    transform: rotate(10deg);
    transition: transform 0.3s ease;
}

.bagSvg svg {
    transition: transform 0.3s ease;
    @media(max-width: 1200px) {
        width: 26px;
    }
}

.remoteSvg{
    transition: transform 0.3s ease;
    @media(max-width: 1200px) {
        width: 30px;
    }
}

.arrowLoop {
    // position: absolute;
    // right: -200%;
    

    @media (max-width: 1200px) {
        img {
            height: 45px !important;
            display: none !important;
        }
    }

    @media (max-width: 992px) {
        display: none;
    }

    @media (max-width: 1100px) {
        right: -100% !important;
        display: none;
    }

    @media (max-width: 1440px) {
        right: -150%;
    }

}

.remote {
    position: absolute;
    bottom: 19px;
    left: -12px;

    @media (max-width: 1200px) {
        left: 0px;

        img {
            width: 26px;
            height: 32px;
        }
    }

    @media (max-width: 992px) {
        position: static;
    }
}

.remoteSvgWrapper .remoteSvgHover {
    display: none;
}

.remoteSvgWrapper:hover .remoteSvg {
    display: none;
}

.remoteSvgWrapper:hover .remoteSvgHover {
    width: 30px;
    transition: transform 0.3s ease;
    display: block !important;
}
// .remote:hover img:first-child {
//     display: none;
// }

// .remote:hover img:nth-child(2) {
//     display: block;
//     width: 26px;
//     height: 32px;
// }



.arrowDown {
    position: absolute;
    left: -39px;
    top: 60px;

    @media (max-width: 1200px) {
        // left: -54%;
    }

    @media (max-width: 992px) {
        left: -30%;
        width: 20px;
        top: -70px;
        height: 48px !important;
    }

    @media (max-width: 768px) {
        left: -8%;
    }

    @media (max-width: 450px) {
        display: none;
    }

}

.arrowTop {
    width: 25px;
    height: 40px;

    @media (max-width: 992px) {
        transform: scaleY(-1);
        width: 60px !important;
        height: 85px !important;
    }

        @media (max-width:768px){
        width: 40px !important;
        height: 52px !important;
    }

    @media (max-width:450px){
       display: none;
    }

}

.arrowContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 180px;
    bottom: 2px;
    right: -200px;

    @media (max-width: 1300px) {
        justify-content: space-around;
        width: 250px;
        bottom: 2px;
        right: -225px;
    }

    @media (max-width: 1200px) {
        bottom: 30px;
        right: -200px;
    }

    @media (max-width: 992px) {
        bottom: -50px;

    }

    @media (max-width: 768px) {
        bottom: -50px;
        right: -150px;
    }

}

.whyMyDescription {

    h2 {
        font-size: 54px;
        font-weight: 500;
        // margin-top: 36px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        text-align: end;
        padding: 25px 0;
    }

    @media (max-width: 1200px) {
        h2 {
            font-size: 54px;
        }

        p {
            padding: 10px 0;
        }
    }

    @media (max-width: 992px) {
        margin: unset;
        border: 3px dashed yellow;

        h2 {
            font-size: 32px;
        }

        p{
            text-align: center;
            padding: 0 16px;
        }
    }

    @media (max-width: 450px) {
        p{
            padding: unset;
        }
    }
}

.whyMeIcons {
    position: relative;

    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

        img{
            width: 20px;
            height: 26px;
        }
    }
}

@media (max-width: 992px) {
    br {
      display: none;
    }
  }

