@font-face {
    font-family: 'robotoMono';
    src: url('../../assets/fonts/RobotoMono-VariableFont_wght.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

.why-me-section {
    padding: 50px 50px;
    display: flex;
    background-color: #120b35;
    align-items: center;
    justify-content: center;
    font-family: 'robotoMono', sans-serif;
    // width: 100%;
    max-width: 1440px;
    overflow: hidden;

    @media (max-width: 992px) {
        // padding: 50px 90px;
    }
}

p {
    color: #02f4bf;
    margin-top: 14px;

    @media (max-width: 1200px) {
        margin-top: 0;
    }

    @media (max-width: 992px) {
        margin-top: revert;
    }
}

.picture {
    width: 500px;

    @media (max-width: 992px) {
        display: none;
    }
}

.whyMe {
    padding-left: inherit;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: end;
    }

    @media (max-width: 992px) {
        padding-left: unset;

        h2 {
            justify-content: center;
        }
    }
}

.whyMeSubcategory {
    justify-content: center;
    margin: 20px 0;
    position: relative;
    height: 200px;

    img {
        padding-right: 15px;
    }

    h2 {
        font-size: 48px;
        font-weight: 500;
        position: absolute;
        left: 10%;
    }

    @media (max-width: 1200px) {
        h2 {
            left: 0;
        }
    }

    @media (max-width: 992px) {
        display: flex;
        justify-content: center;

        h2{
            left: unset;
            font-size: 28px;
        }
    }
}

.bag {
    position: absolute;
    left: 210px;
    top: 60px;

    img {
        height: 42px;
        margin-top: 8px;
    }

    @media (max-width: 1200px) {
        left: 115px;
        top: 72px;

        img {
            width: 26px;
            height: 32px;
        }
    }

    @media (max-width: 992px) {
        all: unset;
        display: flex;
        align-items: self-end;
    }
}

.bag:hover img:first-child {
    display: none;
}
.bag:hover img:nth-child(2) {
    display: block;
}

.bagDiv{
    justify-content: unset;
}

.location {
    img {
        width: 32px;
        height: 42px;
        margin-top: 8px;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;

        img:last-child{
            width: 19px;
            height: 9px;

            :hover{
             display: block;
        }
        }
    }

    :hover{
            img:last-child{
                display: block;
            }
    }
    @media (max-width: 1200px) {
        margin-left: 30%;

        img {
            width: 26px;
            height: 32px;
        }
    }

    @media (max-width: 992px) {
        all: unset;
        align-items: flex-end;
        display: flex;
    }
}

.arrowLoop {
    position: absolute;
    right: -200%;

    @media (max-width: 1200px) {
        img {
            height: 45px !important;
        }
    }

    @media (max-width: 992px) {
        display: none;
    }

    @media (max-width: 1200px) {
        right: -100% !important;
        display: none;
    }

    @media (max-width: 1440px) {
        right: -150%;
    }

}

.remote {
    position: absolute;
    bottom: 19px;
    left: -12px;

    @media (max-width: 1200px) {
        left: 20px;

        img {
            width: 26px;
            height: 32px;
        }
    }

    @media (max-width: 992px) {
        position: static;
    }
}

// .remote:hover img:first-child {
//     display: none;
// }

// .remote:hover img:nth-child(2) {
//     display: block;
//     width: 26px;
//     height: 32px;
// }



.arrowDown {
    position: absolute;
    left: -39px;
    top: 60px;

    @media (max-width: 1200px) {
        // left: -54%;
    }

    @media (max-width: 992px) {
        left: -30%;
        width: 20px;
        height: 48px !important;
    }

    @media (max-width: 450px) {
        display: none;
    }

}

.arrowTop {
    position: absolute;
    right: -103px;

    @media (max-width: 992px) {
      display: none;
    }
}

.whyMyDescription {

    h2 {
        font-size: 54px;
        font-weight: 500;
        // margin-top: 36px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        text-align: end;
        padding: 25px 0;
    }

    @media (max-width: 1200px) {
        h2 {
            font-size: 54px;
        }

        p {
            padding: 10px 0;
        }
    }

    @media (max-width: 992px) {
        margin: unset;
        border: 3px dashed yellow;

        h2 {
            font-size: 32px;
        }

        p{
            text-align: center;
            padding: 0 16px;
        }
    }

    @media (max-width: 450px) {
        p{
            padding: unset;
        }
    }
}

.whyMeIcons {
    position: relative;

    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 20px;
            height: 26px;
        }
    }

}



@media (max-width: 992px) {
    br {
      display: none;
    }
  }