<div class="why-me-section flex">
    <div>
        <img src="./assets/icons/whyMe/ejran.jpg" alt="me" class="picture">
    </div>
        <div class="whyMe flex">
            <div class="whyMyDescription">
                <h2>Why  me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.In el In mollitia ratione id excepturi exercitationem nam, quis, nulla blanditiis optio porro enim non tempore voluptatem! Blanditiis nisi nobis sapiente alias et.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eum quaerat unde deserunt, corporis quae quasi. Tempora ratione asperiores architecto molestiae aliquid id assumenda eveniet eos, rem officia delectus cumque.
                </p>
            </div>

            <div class="whyMeSubcategory flex">
                <h2 class="flex">I  am</h2>
                <div class="whyMeIcons">
   
                    <div class="flex location">
                        <div>
                          <img src="./assets/icons/whyMe/location.png" alt="location.png">
                          <img src="./assets/icons/whyMe/locationHover.png" alt="locationHover.png" class="d-none">
                         </div>
                        <p>located in <br> Korschenbroich</p>
                    </div>
            
                <div class="flex-box bagDiv">
                <img src="./assets/icons/whyMe/arrowDown.png" alt="" class="arrowDown">
                    <div class="flex bag">
                        <img src="./assets/icons/whyMe/bag.png" alt="bag.png" class="">
                        <img src="./assets/icons/whyMe/bagHover.png" alt="bagHover.png" class="d-none">
                        <p>open to <br> telocate</p>
                    </div>
                </div>

                    <div class="flex-box remote">
                   
                        <img src="./assets/icons/whyMe/remote.png" alt="remote" class="remoteIcon">
                        <img src="./assets/icons/whyMe/remoteHover.png" alt="remoteHover" class="d-none e">
                        <p>open to <br> work remote</p>
                  
                    <img src="./assets/icons/whyMe/arrowTop.png" alt="arrowTop" class="arrowTop">
                    <div class="arrowLoop">
                        <img src="./assets/icons/whyMe/arrowLoop.png" alt="arrowDown">
                      </div>
                    </div>

                </div>
            </div>

        <div class="flex-box button">
            <button>Let's talk</button>
        </div>
        </div>

    </div>
