<div class="why-me-section flex">
    <div>
        <img src="./assets/icons/whyMe/ejran.jpg" alt="me" class="picture">
    </div>
        <div class="whyMe">
            <div class="whyMyDescription">
                <h2>Why  me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In mollitia ratione id excepturi exercitationem nam, quis, nulla blanditiis optio porro enim non tempore voluptatem! Blanditiis nisi nobis sapiente alias et.</p>
            </div>

            <div class="whyMeSubcategory flex">
                <h2 class="flex">I  am</h2>
                <div>
                    <div>
                        <img src="./assets/icons/whyMe/location.png" alt="location.png">
                        <img src="./assets/icons/whyMe/locationHover.png" alt="locationHover.png" class="d-none">
                        <p>located in Korschenbroich</p>
                    </div>

                    <div>
                        <img src="./assets/icons/whyMe/bag.png" alt="bag.png">
                        <img src="./assets/icons/whyMe/bagHover.png" alt="bagHover.png" class="d-none">
                        <p>open to telocate</p>
                    </div>

                    <div>
                        <img src="./assets/icons/whyMe/remote.png" alt="remote">
                        <img src="./assets/icons/whyMe/remoteHover.png" alt="remoteHover" class="d-none">
                        <p>open to work remote</p>
                    </div>

                </div>
            </div>
            
            <button>Let's talk</button>
        </div>


</div>
